<div class="links">
    <div class="grid">
        <div class="col-1-4">
            <p><a href="https://nodered.org">Node-RED</a>: 事件驱动应用的低代码程序。</p>
        </div>
        <div class="col-1-4">
            <ul>
                <li><a href="https://github.com/node-red">GitHub</a></li>
                <li><a href="https://www.npmjs.com/package/node-red">npm</a></li>
                <li><a href="/docs">文档</a></li>
                <li><a href="/docs/api">APIs</a></li>
            </ul>
        </div>
        <div class="col-1-4">
            <ul>
                <li><a href="https://flows.nodered.org">流程库</a></li>
                <li><a href="/about/">关于</a></li>
                <li><a href="/about/conduct">行为守则</a></li>
                <li><a href="/about/community">社区</a></li>
            </ul>
        </div>
        <div class="col-1-4">
            <ul>
                <li><a href="/blog">Blog</a></li>
                <li><a href="https://twitter.com/nodered">Twitter</a></li>
                <li><a href="https://discourse.nodered.org">Forum</a></li>
                <li><a href="/slack">Slack</a></li>
                <li><a rel="me" href="https://social.nodered.org/@nodered">Mastodon</a></li>
            </ul>
        </div>
    </div>
    <div class="grid openjs">
        <div class="col-1-4">
            <a href="https://openjsf.org"><img class="openjs-logo" src="https://nodered.org/images/openjs_foundation-logo.svg" /></a>
        </div>
        <div class="col-3-4">
            <p><a href="https://openjsf.org">OpenJS 基金会</a> 和 Node-RED 贡献者版权所有。保留所有权利。 <a href="https://openjsf.org">OpenJS 基金会</a> 已经注册了商标并使用了商标。有关 <a href="https://openjsf.org">OpenJS 基金会</a>的商标清单，请参阅我们的<a href="https://trademark-policy.openjsf.org">商标政策</a> 和 <a href="https://trademark-list.openjsf.org">商标清单</a>。 <a href="https://trademark-list.openjsf.org">OpenJS 基金会的商标清单</a>上没有注明的商标&trade;和标志&reg;是其各自持有者的商标或注册商标。使用它们并不意味着与它们有任何联系或得到它们的认可。</p>
            <p><a href="https://openjsf.org">OpenJS 基金会</a> | <a href="https://terms-of-use.openjsf.org">使用条例</a> | <a href="https://privacy-policy.openjsf.org">隐私政策</a> | <a href="https://bylaws.openjsf.org">OpenJS 基金会附则</a> | <a href="https://trademark-policy.openjsf.org">商标政策</a> | <a href="https://trademark-list.openjsf.org">商标列表</a> | <a href="https://www.linuxfoundation.org/cookies">Cookie 政策</a></p>
        </div>
    </div>
</div>
<script>
 $(function() {
    $(".menu").on("click", function(e) {
        var s = $(".navigation").slideToggle('hide');
        e.preventDefault();
    });
  });
</script>
<script defer data-domain="nodered.org" src="https://plausible.io/js/plausible.js"></script>
</body>
</html>